[Desktop Entry]
Type=Application
Name=cheque_check
Comment=A new Flutter project.
Icon=com.example.cheque_check
Exec=/usr/bin/com.example.cheque_check
X-Nemo-Application-Type=silica-qt5

[X-Application]
Permissions=
OrganizationName=com.example
ApplicationName=cheque_check
